<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments :: sidebar">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments :: topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!--<div>
                        <form th:action="@{/search-result/0}" method="GET">
                            <input type="text" id="search" name="keyword" placeholder="Search products">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>-->


                    <div th:if="${size == 0}">
                        <p>No seat in system</p>
                    </div>

                    <div th:if="${success}" class="text-center alert alert-success" >
                        <p th:text="${success}"></p>
                    </div>
                    <div th:if="${failed}" class="text-center alert alert-danger" >
                        <p th:text="${failed}"></p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/add-seat}" >Add new seat</a>
                    <table class="table table-striped" th:if="${size > 0}">
                        <thead>
                        <tr>
                            <th scope="col">Seat class</th>
                            <th scope="col">Seat Name</th>
                            <th scope="col">Airplane code</th>
                            <th scope="col">Airplane name</th>
                            <th scope="col">Update</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="seat : ${seats}">
                                <th scope="row" th:text="${seat.s_class}"></th>
                                <td th:text="${seat.seatName}"></td>
                                <td th:text="${seat.airplane.id}"></td>
                                <td th:text="${seat.airplane.name}"></td>
                                <td>
                                    <a th:href="@{/update-seat/{id}(id = ${seat.id})}" class="btn btn-primary">Update</a>
                                </td>
                                <td>
                                    <a th:if = "${seat.is_activated  == false}" th:href="@{/enable-seat/{id} (id = ${seat.id})}" class="btn btn-warning">Enable</a>
                                    <a th:if = "${seat.is_deleted == false}" th:href="@{/delete-seat/{id} (id = ${seat.id})}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!--<nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li th:if="${currentPage != 0}" class="page-item">
                                <a th:href="@{'/products/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                                <a th:href="@{'/products/' + ${i - 1}}" class="page-link" href="#"><span th:text="${i}"></span></a>
                            </li>
                            <li th:if="${currentPage + 1 != totalPages}"  class="page-item">
                                <a th:href="@{'/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>-->
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments :: footer">
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="fragments :: scroll"></a>

    <!-- Logout Modal-->
    <div th:replace="fragments :: logoutModal"></div>

    <div th:replace="fragments :: script"></div>
    <script th:src="@{/js/type.js}"></script>

</body>

</html>